header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(40, 90, 214) 0%, rgb(39, 39, 150) 35%, rgb(65, 7, 123) 100%);
    margin-bottom: 10px;
}

.input-group-append {
    display: flex;
    flex-direction: column ;
}

#search-button {
    margin-top: 10px;
}