header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(40, 90, 214) 0%, rgb(39, 39, 150) 35%, rgb(65, 7, 123) 100%);
    margin-bottom: 10px;
}

.input-group-append {
    display: flex;
    flex-direction: column ;
}

#search-button {
    margin-top: 10px;
}

#today {
    padding: 10px;
}

#forecast div {
    background-color: rgba(42, 54, 77, 0.955);
    color: white;
    margin-left: 10px;
    padding-top: 15px;
    
}

#forecast div h1 {
    font-size: 1.5rem;
}

#history button {
    margin-bottom: 2px;
    border-radius: 13px;
}

#history button:hover {
    background-color: #0d6efd;
    color: white;
}